*.o
*.d
*.class
**/.svn/
**/bin/
**/gen/
**/obj/
/AndroidTouchMacroV3/.metadata
/AndroidTouchMacroV3/.recommenders
*.apk
MyAndroidSampleApp00/libs/armeabi/libsample01.so
AppSealingExternalExecutor/libs/armeabi/libAppSealingExternalExecutor.so
MyAndroidSampleApp00/libs/armeabi/libsample00.so
